:root {
  --main-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-family);
  color: var(--slate);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container,
.page-navigation,
.nav-list,
.address-list {
  display: flex;
}

.page-navigation {
  align-items: center;
  gap: 40px;
}

.nav-container {
  justify-content: space-between;
}

.nav-list {
  gap: 40px;
}

.logo-link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  padding: 24px 0;
  margin-right: 76px;
}

.half-logo-text {
  color: var(--navy-blue);
}

.nav-list-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-nav-link {
  position: relative;
  color: var(--ocean);
}

.first-nav-link::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: var(--ocean);
}

.page-address {
  font-style: normal;
}

.address-list {
  gap: 40px;
}

.address-list-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus,
.address-link:hover {
  color: var(--ocean);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero-section {
  margin: 0 auto;
  background-color: var(--navy-blue);
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url('../images/background/hero-people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  width: 100%;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

.container-benefits-section {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list,
.team-list,
.portfolio-list {
  display: flex;
  flex-direction: column;
}

.benefits-list {
  row-gap: 72px;
}

.benefits-icon-container {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  background-color: var(--cloud);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 112px;
}

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  text-align: center;
}

.benefits-description {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  letter-spacing: 0.02em;
  background: var(--cloud);
}

.container-team-section,
.container-portfolio-section {
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-list {
  row-gap: 72px;
}

.team-list-item {
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white);
  text-align: center;
  margin: 0 auto;
}

.team-item-photo {
  margin: 0 auto;
}

.team-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-name-position {
  line-height: 1.5;
  margin-bottom: 8px;
}

.team-info-list {
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  gap: 24px;
}

.team-info-link:not(:last-child) {
  gap: calc((100% - 160px) / 4);
}

.team-info-link {
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-info-link:focus,
.team-info-link:hover {
  background-color: var(--ocean);
}

.team-info-icon {
  fill: var(--cloud);
}

.portfolio-main-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.portfolio-list {
  justify-content: center;
  align-items: center;
  row-gap: 48px;
  margin: 0 auto;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-container {
  max-width: 288px;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 360px;
  font-family: var(--main-family);
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-img {
  object-fit: cover;
}

.portfolio-text-container {
  width: 100%;
  flex-basis: calc((100% - 72px) / 3);
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-item-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--navy-blue);
}

.main-footer-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  width: 100%;
  max-width: 264px;
}

.logo-link-footer {
  display: inline-block;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
}

.half-logo-footer {
  color: var(--cloud);
}

.footer-container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  row-gap: 72px;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-social-media {
  display: inline-block;
  margin-right: 80px;
}

.footer-social-title,
.footer-subscribe-title {
  font-family: var(--main-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-info-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer-info-link {
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-info-link:hover,
.footer-info-link:focus {
  background-color: var(--green);
}

.footer-info-icon {
  fill: var(--cloud);
}

.footer-subscribe-subscribe {
  display: inline-block;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-form-input {
  outline: none;
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-family: var(--main-family);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  padding: 8px 16px;
}

.subscribe-form-input::placeholder {
  display: block;
  font-family: var(--main-family);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.footer-subscribe-button {
  min-width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 24px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: var(--white);
}

.modal-window-overlay {
  background-color: var(--navy-blue-modal);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dairy);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 80%;
  min-height: 584px;
  max-width: 408px;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
}

.icon-modal-close {
  display: block;
  margin: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button:hover,
.close-modal-button:focus {
  border: none;
  background-color: var(--ocean);
  fill: var(--white);
}

.modal-form-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  flex-direction: column;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-form-input {
  font-family: inherit;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  outline: transparent;
  width: 100%;
  background-color: transparent;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--navy-blue);
}

.icon-modal-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .icon-modal-input {
  fill: var(--iris);
}

.modal-textarea-container {
  margin-bottom: 16px;
}

.modal-form-textarea {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  background-color: transparent;
}

.modal-form-textarea::placeholder {
  font-family: var(--main-family);
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.modal-form-input:focus,
.modal-form-textarea:focus {
  border-color: var(--iris);
}

.modal-checkbox-container {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  fill: transparent;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.icon-modal-checkbox {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked + .modal-checkbox-label > .modal-custom-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.policy-checkbox:checked
  + .modal-checkbox-label
  > .modal-custom-checkbox
  > .icon-modal-checkbox {
  fill: var(--cloud);
}

.privacy-policy-text {
  font-family: var(--main-family);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.privacy-policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  line-height: 1.33;
  color: var(--iris);
}

.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus,
.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: var(--ocean);
}

@media screen and (min-resolution: 196px) {
  .hero-section {
    background-image: url('../images/background/hero-people-office@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .container-benefits-section,
  .team-list,
  .portfolio-list {
    max-width: 768px;
  }

  .benefits-list,
  .team-list,
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .team-list {
    row-gap: 64px;
  }

  .team-list {
    max-width: 552px;
    margin: 0 auto;
  }

  .benefits-list-item,
  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .benefits-title {
    text-align: left;
  }

  .overlay-container {
    max-width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container-benefits-section,
  .team-list,
  .portfolio-list {
    max-width: 1158px;
    padding: 0 15px;
  }

  .benefits-list-item,
  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .benefits-icon-container {
    display: flex;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .overlay-container {
    max-width: 360px;
  }

  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
